/*This is where exemption gen-specific css styles should be placed*/
.upload-button{
    background-color: #e6e6e6 !important;
}
.control-group-sub.error textarea {
    border-color: #ffaaaa !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

/*for tvf button*/
.icon-disabled {
    opacity: 0.5;
    cursor: auto;
}

.icon-enabled {
    color: #000000;
    cursor: pointer;
}

.input-append .add-on  {
    margin-top: 1px !important;
    margin-left: -3px !important;
    min-width:25px !important;
}

.whitebody{
    background-color:#FFFFFF !important;
}

.alignelement{
    margin-left:180px !important;
}

div#messageDialog b#messageDialogTitle {
    font-weight: normal;
}

#editTools {
    width: inherit !important;
}

.error-border{
    /*background-color: #f2dede !important;*/
    /*border-color: #eed3d7 !important;*/
    background: none repeat scroll 0% 0% #FFF3F3 !important;
    border-color: #FAA !important;
    color: #C00 !important;
}

.actions-thnofile {
    background: none !important;
    border-left:0px !important;
}

.nav-pillsnofile {
    color: #444444;
    background-color: #cccccc !important;
    font-weight: bold !important;
    font-size: 12px !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    line-height: 12px !important;
    vertical-align: middle !important;
    text-align: center !important;
}

.input-append .add-on  {
    margin-top: 1px !important;
    margin-left: -3px !important;
    min-width:25px !important;
}

@media all and (max-width: 1024px) and (min-width: 768px){
    #dialogItemGood
    {
        left:45%;
    }
}

#tempProtection {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}


/*This is where ephyto specific css styles should be placed*/
.upload-button{
    background-color: #e6e6e6 !important;
}
.control-group-sub.error textarea {
    border-color: #ffaaaa !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

/*for tvf button*/
.icon-disabled {
    opacity: 0.5;
    cursor: auto;
}

.icon-enabled {
    color: #000000;
    cursor: pointer;
}

.input-append .add-on  {
    margin-top: 1px !important;
    margin-left: -3px !important;
    min-width:25px !important;
}

.whitebody{
    background-color:#FFFFFF !important;
}

.alignelement{
    margin-left:180px !important;
}

div#messageDialog b#messageDialogTitle {
    font-weight: normal;
}

#editTools {
    width: inherit !important;
}

.error-border{
    /*background-color: #f2dede !important;*/
    /*border-color: #eed3d7 !important;*/
    background: none repeat scroll 0% 0% #FFF3F3 !important;
    border-color: #FAA !important;
    color: #C00 !important;
}

.actions-thnofile {
    background: none !important;
    border-left:0px !important;
}

.nav-pillsnofile {
    color: #444444;
    background-color: #cccccc !important;
    font-weight: bold !important;
    font-size: 12px !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    line-height: 12px !important;
    vertical-align: middle !important;
    text-align: center !important;
}

.input-append .add-on  {
    margin-top: 1px !important;
    margin-left: -3px !important;
    min-width:17px !important;
}

.whitebody{
    background-color:#FFFFFF !important;
}

.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    -webkit-border-bottom-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    -moz-border-radius-topright: 4px !important;
    -moz-border-radius-bottomright: 4px !important;
}
.pagination ul>li>a, .pagination ul>li>span {
    float: left !important;
    line-height: 20px !important;
    text-decoration: none !important;
    /*border: none !important;*/
    padding-top: 0 !important;
    padding-right: 6px !important;
    padding-bottom: 0 !important;
    padding-left: 6px !important;
}
.pagination ul > li > a, .pagination ul > li > span {
    float: left !important;
    padding: 4px 12px !important;
    line-height: 20px !important;
    text-decoration: none !important;
    border: 1px solid #dddddd !important;
    border-left-width: 0 !important;
}

.colPadding{
    padding: 17px 0px 0px 0px !important;
}
