/*Css file for common css styles*/
.no-margin {
    margin: 0px !important;
}

.no-background {
    background-color: white !important;
}

.no-border {
    border: none !important;
}

.disabled {
    cursor: not-allowed;
    background-color: #CCCCCC !important;
    border-color: #CCCCCC !important;
}

.btn-disabled {
    opacity: 0.5;
    cursor: auto;
    pointer-events: none;
}

.error {
    margin: 5px 2px !important;
}

.display-none {
    display: none !important;
}

.error-gen-field {
    border-color: #ffaaaa !important;
}

.error-field {
    background: #fff3f3 !important;
    border-color: #ffaaaa !important;
    color: #cc0000 !important
}

.error-field-select {
    background: #fff3f3 !important;
    border-color: #ffaaaa !important;
}

.table_error {
    margin-right: 130px;
    margin: 5px;
    color: #b94a48;
    font-size: 12px;
}

.align-right {
    text-align: right !important;
}

.row-field-width {
    width: 80% !important;
}

.disableClick {
    opacity: 0.5;
    cursor: auto;
    pointer-events: none;
}

.visibility-hidden {
    visibility: hidden
}

/*This is where exemption gen-specific css styles should be placed*/
.upload-button {
    background-color: #e6e6e6 !important;
}

.control-group-sub.error textarea {
    border-color: #ffaaaa !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

/*for tvf button*/
.icon-disabled {
    opacity: 0.5;
    cursor: auto;
}

.icon-enabled {
    color: #000000;
    cursor: pointer;
}

.btn-disabled {
    opacity: 0.5;
    cursor: auto;
    pointer-events: none;
}

.input-append .add-on {
    margin-top: 1px !important;
    margin-left: -3px !important;
    min-width: 25px !important;
}

.whitebody {
    background-color: #FFFFFF !important;
}

.alignelement {
    margin-left: 180px !important;
}

div#messageDialog b#messageDialogTitle {
    font-weight: normal;
}

#editTools {
    width: inherit !important;
}

.input-append .add-on {
    margin-top: 1px !important;
    margin-left: -3px !important;
    min-width: 25px !important;
}

